/CentralitaTelefonica/nbproject/private/
/CentralitaTelefonica/build/
/Daniel_Ulloa_Parcial1/nbproject/private/
/Daniel_Ulloa_Parcial1/build/
/TallerClase5/nbproject/private/
/TallerClase5/build/
/Tarea2_Interfaces/nbproject/private/
/JavaApplication13/nbproject/private/
/Tarea2_Interfaces/build/
/EjcArchivos/nbproject/private/
/EjcArchivos/build/
/Clase7Frames/nbproject/private/
/Clase7Frame/nbproject/private/
/Clase7Frame/build/